
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div  class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://placehold.co/600x400?text={{profile?.firstName | slice: 0 : 1}}{{profile?.lastName | slice: 0 : 1}}" alt=""/>
                    <!-- <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                               {{profile?.firstName}} {{profile?.lastName}}
                            </h5>
                            <h6>
                                
                            </h6>
                            
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile?.id}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nombre</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile?.firstName}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Apellido</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile?.lastName}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile?.email}}</p>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Rol</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile?.role}}</p>
                                    </div>
                                </div>

                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                      Cuentas
                                    </a> 
                                    <button *ngFor="let cuenta of profile?.accounts" class="list-group-item list-group-item-action">{{cuenta}}</button>
                                  </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </form>           
</div>