<!-- <div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Bienvenidos a su aplicacion bancaria</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, exercitationem pariatur vitae dolore corporis aut cupiditate autem non quos veniam dolor minima voluptatem, recusandae praesentium consequatur sapiente, perspiciatis assumenda ullam?</p>
  </div> -->

  <section class="py-5 bg-primary text-light">
    <div class="container">
        <div class="row">
            <h2>Bienvenidos al sistema bancario</h2>
        </div>
    </div>
</section>
<app-dashboard></app-dashboard>
<section class="pt-2 bg-primary text-light">
    <div class="container">
        <div class="row">
            <p>All Rights Reserved</p>
        </div>
    </div>
</section>